{% include "header.html" %}


            <main role="main" class="inner cover text-center">

                <div class="cover-main">

                    <h1 class="cover-heading">Enjoy Some Coffee & Wifi</h1>
                    <h2 class="cover-heading-2">in London</h2>

                    <p class="lead cover-text">Looking for a nice place to do some work on your laptop... maybe have some coffee or tea... a piece of cake? yes it is!</p>

                    <p class="lead cover-btn">
                        <a href="{{ url_for('show_cafes') }}" class="btn btn-lg btn-secondary">Go on have a cup... ☕</a>
                    </p>
                </div>
            </main>

{% include "footer.html" %}
